<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wubydax.toolboxsettings" >

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:name=".MyApp"
        android:supportsRtl="true">
        <activity
            android:name=".ToolboxSettings"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.samsung.TOOLBOX_LIST" />
                <action android:name="com.samsung.TOOLBOX_MENU" />
                <action android:name="android.settings.TOOLBOX_LIST" />
                <action android:name="android.settings.TOOLBOX_MENU" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SortActivity"
            android:label="@string/title_activity_sort"
            android:parentActivityName=".ToolboxSettings"
            android:screenOrientation="portrait">
         </activity>
    </application>

</manifest>
